/* =========================
   RESET GENERAL
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   BODY GENERAL (LOGIN POR DEFECTO)/* Fondo con transparencia */

body {
    margin: 0;
    padding: 0;

    /* Imagen de fondo */
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),   /* negro transparente */
            rgba(0, 0, 0, 0.5)
        ),
        url("../img/fondo.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* =========================
   LOGIN
========================= */
.login-container {
    background: rgba(255, 255, 255, 0.071);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;

    /* CENTRADO SOLO PARA LOGIN */
    margin: 100px auto;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* BOTONES GENERALES */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* =========================
   ADMIN PANEL
========================= */
.admin-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.menu-admin {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.menu-admin button {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* =========================
   PÁGINA QR (IMPORTANTE)
========================= */
body.qr-page {
    display: block;
    min-height: 100vh;
    overflow-y: auto;
}

/* CONTENEDOR QR */
#qrs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 700px;
    margin: auto;
}

/* TARJETAS QR */
#qrs div {
    background: rgba(255, 255, 255, 0);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(253, 252, 252, 0.212);
}

#reader {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


/* CANVAS QR */
canvas {
    margin-top: 10px;
}


/* LOGO EN ESQUINA SUPERIOR DERECHA */

/* LOGO DETRÁS DEL TEXTO - RESPONSIVE */

.logo-container {
    position: fixed;
    top: 20px;
    right: 20px;

    z-index: -1;
    opacity: 0.9;
}

.logo {
    width: 250px;   /* tamaño para PC */
    height: auto;
}

/* TELÉFONO */

@media (max-width: 768px) {
    .logo {
        width: 110px;   /* más pequeño en celular */
    }

    .logo-container {
        top: 10px;
        right: 10px;
    }
}